---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Madianty | Home">
	<h2 class="font-bold text-6xl mb-2">Welcome to Madianty | Home</h2>
	<p class="text-[#225091] font-bold ">This is a simple example of using Astro with Tailwind CSS.</p>
	<div class="mt-4">
		<a class="underline font-bold" href="./about">About</a>
	</div>
</Layout>
